.toolbar{
    position: fixed;
    top: 0;
    
    left: 0;
    width: 100%;
    background: rgb(128, 0, 53);
    height: 65px;
    padding-bottom: 5px;
    
}
.toolbar__button__span{
   
    color: rgb(128, 0, 53);
    padding-left: 0rem;
    padding-top: 0rem;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    padding: 25px 50px;
    font-weight: bold;
    font-family: 'Indie Flower' , cursive;
   
}
.toolbar__navigation{
display: flex;
height: 100%;
align-items: center;
padding: 0 1rem;
color: white;
padding-bottom: 100px;
}
.toolbar__addMovies{
    padding-left: 12.5rem;
    padding-top: 5rem;
    padding-right: 20px;
    padding-bottom: 0rem;

}

.toolbar__Movies{
    
    color: rgb(128, 0, 53);
   /* padding-left: 28rem;
    padding-top: 1.2rem;
    padding-right: 20px;
    padding-bottom: 5rem;
    border-radius: 10px;*/
    display:flex ;
    flex-direction: row;
 
    
}
.toolbar__m{
    color: rgb(128, 0, 53);
    padding-left: 20rem;
    padding-top: 1.2rem;
    padding-right: 15rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    font-family: 'Indie Flower' , cursive;
  

}

.toolbar__logo {
    color: rgb(247, 244, 245);
    text-decoration: none;
    font-size: 1.5em;
    font-style: initial;
}

.toolbar_navigation-item a{
color: rgb(243, 236, 236);
text-decoration: none;
padding-left: 12rem;
padding-right: 38rem;
}

.toolbar_navigation-item  :hover,
.toolbar_navigation-item  :active {
   color: rgb(156, 156, 152);

}
.toolbar__table{
    color: rgb(128, 0, 53);
    padding-left: 15rem;
    padding-top: 0.1rem;
    padding-right: 0rem;
    padding-bottom: 5rem;
    border-radius: 0px;
    font-family: 'Indie Flower' , cursive;
}
.toolbar__table_h{
    background-color: rgb(128, 0, 53);;
    color: #fff;
    font-weight: bold;
}
.toolbar__loginpage{
    color: rgb(128, 0, 53);
    padding-left: 25rem;
    padding-top: 5rem;
    padding-right: 20rem;
    padding-bottom: 5rem;
}
.img{

    width: 200px;
    height: 200px;
}
/*.input{
    padding-left: 12.5rem;
    padding-top: 5rem;
    padding-right: 20px;
    padding-bottom: 20rem;
}*/
.font{
   font-weight: bold; 
}
/*this script was in movielist 
        <script>
                $(document).ready(function(){
                    $('button').click(function(){
                        $('.alert').show()
                    }) 
                })
                </script>
                */